 *{
                padding: 0px;
                margin: 0px;
            }
            body{
                background-color: #F0F7F7;
                overflow-y:hidden;
                overflow-x:hidden;
            }
            #contenido{
                display: none;  
               height: 448px;       
            }
            #encabezado{
                width: 100%;
                height: 10%;
                border-bottom: 5px dotted grey;
                display: flex;
            }
            #bienv{
                width: 50%;
                height: 100%;
            }
            #bienv_text{
                float: left;
                font-size: 30px;
                padding: 5px;
                color: #D56203;
            }
            #navegacion{
                width: 50%;
                height: 100%;
                /*text-align: right;*/
                padding: 5px;
                justify-content: center;
                align-items: center;
                 display: flex;
            }
            #campo,#siguiente,#caret{
               
            }
            #campo{
                width: 30%;
                text-align: center;
                justify-content: center;
                 margin-right: 3%;
                 margin-left: 3%;
            }
            #siguiente{
                font-family: times new roman;
                font-size: 20px;
                margin-right: 5%;
            }
            #anterior{
                /*visibility: hidden;*/
                /*display: none;*/
                font-family: times new roman;
                font-size: 20px;
                margin-left: 3%;
            }
            #caret{
                
                font-size: 1em;
                
            }
            #caretant{
                /*visibility: hidden;*/
                /*display: none;*/
                font-size: 1em;               
            }
            #cuerpo{
                width: 100%;
                height: 90%;
                margin-top: 2px;
            }
            #titulo{
                display: none;
             width: 100%;
             height: 7%;
             text-align: center;
            }
            #aplicacion{
                font-family: times new roman;
                font-size: 25px;
                color: orange;
            }
            #campos{
                width: 100%;
             height: 37%;
             display: flex;
            }
            #campo2{
                display: none;
                 animation-duration: 2s;
  animation-name: slidein;
   margin-rigth: 30%;
                width: 75%;
             height: 100%;
             padding: 10px;
            }
            #campo3{
                display: none;
               width: 25%;
             height: 100%; 
             justify-content: center;
             text-align: center;
             align-items: center;
             padding-top: 20px; 
            }
            @-webkit-keyframes translate{
    0%{transform: translateY(0px);}
    25%{transform: translateY(5px);}
    50%{transform: translateY(-25px);}
    75%{transform: translateY(20px);}
    100%{transform: translateY(0px);}
    /*0%{-webkit-transform: rotateX(360deg);}
    100%{-webkit-transform: rotateX(0deg);}*/
}
        @-webkit-keyframes translate2{
    0%{transform: translateX(0px);}
    25%{transform: translateX(15px);}
    50%{transform: translateX(-5px);}
    75%{transform: translateX(15px);}
    100%{transform: translateX(0px);}
    /*0%{-webkit-transform: rotateX(360deg);}
    100%{-webkit-transform: rotateX(0deg);}*/
}
            #imagen{                
                margin: 0px auto;
                width: 70%;
                height: 90%;
                -webkit-animation: translate 5s infinite ease-in-out;
            }
                        @keyframes slidein {
  from {

    margin-right: 50%;
    width: 100%;
    /*transform: translateX(100%);*/
  }

  to {
 margin-right: 35%;
 width: 100%;

    /*transform: translateY(50%);*/
  }
}
            #camposs{
                width: 100%;
             height: 56%;
             display: flex;
            }
            #campo22{
                display: none;
                animation-duration: 3s;
  animation-name: slide;
   margin-left: 0%;
                padding: 5px;
                width: 60%;
             height: 100%;
            }
                                    @keyframes slide {
  from {

    margin-left: 60%;
  }

  to {
 margin-left: 0%;

  }
}
            #campo33{
                display: none;
                animation-duration: 2s;
  animation-name: slid;
   margin-right: 0%;
               width: 40%;
             height: 100%; 
              justify-content: center;
             text-align: center;
             align-items: center;
            }
                                                @keyframes slid {
  from {

    margin-right: 6%;
  }

  to {
 margin-right: 0%;
  }
  }

            #datos,#manita{
                display: inline;
            }
            #manita{
                font-size: 2em;
                color: green;
                margin-left: 5px;
                margin-top: 30px;
                padding-top: 30px;
            }
            #recicla{
                color: green;
                font-size: 2em;
            }
            #recicla,p{
                display: inline;
            }
            #imagen2{
                width: 90%;
                height: 80%;
             
             padding-top: 20px;
             -webkit-animation: translate2 5s infinite ease-in-out;
            }

