*{
                padding: 0px;
                margin: 0px;
            }
            body{
                background-color: #F0F7F7;
            }
            #contenido{
                display: none;
               /* animation-duration: 1.5s;
  animation-name: slide;
   margin-rigth: 0%;   */        
               height: 448px;
               /*background: url(images/bibliografic.jpg) no-repeat fixed right;
               background-size: 50% 50%;
/*background-size: cover;
	/*background-repeat: no-repeat;
	background-size: 100% 100% ;*/

        
            }
            #encabezado{
                width: 100%;
                height: 10%;
                border-bottom: 5px dotted grey;
                display: flex;
            }
            #bienv{
                width: 50%;
                height: 100%;
            }
            #bienv_text{
                float: left;
                font-size: 30px;
                padding: 5px;
                color: #D56203;
            }
            #navegacion{
                width: 50%;
                height: 100%;
                /*text-align: right;*/
                padding: 5px;
                justify-content: center;
                align-items: center;
                 display: flex;
            }
            #campo,#siguiente,#caret{
               
            }
            #campo{
                width: 30%;
                text-align: center;
                justify-content: center;
                 margin-right: 3%;
                 margin-left: 3%;
            }
            #siguiente{
                font-family: times new roman;
                font-size: 20px;
                margin-right: 5%;
            }
            #anterior{
                /*visibility: hidden;*/
                /*display: none;*/
                font-family: times new roman;
                font-size: 20px;
                margin-left: 3%;
            }
            #caret{
                
                font-size: 1em;
                
            }
            #caretant{
                /*visibility: hidden;*/
                /*display: none;*/
                font-size: 1em;               
            }
            #conten{
                width: 100%;
                height: 90%;
            }
            #titulo{
                width: 100%;
                height: 10%;
                padding: 5px;
                text-align: center;
            }
            #titulo_video{
                font-family: times new roman;
                font-size: 30px;
                color: orange;
                margin: 0px auto;
            }
            #conten_video{
                width: 100%;
                height: 70%;
                padding: 1px;
                text-align: center;
                justify-content: center;
            }
            #cicle{
               width: 80%;
               height: 100%;
               margin: 0px auto;
            }
            #descripcion{
                width: 100%;
                max-height: 17%;
                padding: 1px;
                text-align: center;
                justify-content: center;
            }
            #desc{
                margin: 0px auto;
                width: 80%;
                max-height: 80%;
                text-align: center;
                justify-content: center;
            }
            p{
                font-family: times new roman;
                font-size: 15px;
            }

