*{
                padding: 0px;
                margin: 0px;
            }
            body{
                background-color: #EFFBF8;
                overflow-y:hidden;
            }
            #contenido{
                /*display: none;
               /* animation-duration: 1.5s;
  animation-name: slide;
   margin-rigth: 0%;   */        
               height: 648px;
               /*background: url(images/bibliografic.jpg) no-repeat fixed right;
               background-size: 50% 50%;
/*background-size: cover;
	/*background-repeat: no-repeat;
	background-size: 100% 100% ;*/

        
            }
            #encabezado{
                width: 100%;
                height: 10%;
                border-bottom: 5px dotted grey;
                display: flex;
            }
            #bienv{
                width: 50%;
                height: 100%;
            }
            #bienv_text{
                float: left;
                font-size: 30px;
                padding: 5px;
                color: #D56203;
            }
            #navegacion{
                width: 50%;
                height: 100%;
                /*text-align: right;*/
                padding: 5px;
                justify-content: center;
                align-items: center;
                 display: flex;
            }
            #campo,#siguiente,#caret{
               
            }
            #campo{
                width: 30%;
                text-align: center;
                justify-content: center;
                 margin-right: 3%;
                 margin-left: 3%;
            }
            #siguiente{
                font-family: times new roman;
                font-size: 20px;
                margin-right: 5%;
            }
            #anterior{
                /*visibility: hidden;*/
                /*display: none;*/
                font-family: times new roman;
                font-size: 20px;
                margin-left: 3%;
            }
            #caret{
                
                font-size: 1em;
                
            }
            #caretant{
                /*visibility: hidden;*/
                /*display: none;*/
                font-size: 1em;               
            }
            #cont{
                width: 100%;
                height: 90%;
                justify-content: center;
                align-items: center;
            }
            #titulo{
                width: 100%;
                height: 10%;
                margin-top: 5px;
                text-align: center;
                justify-content: center;
            }
            #titulos{
                margin: 0px auto;
                width: 90%;
                height: 100%;
                     background-color: #B5D2F5;
                text-align: center;
                justify-content: center;
                padding: 8px;
                            -webkit-clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
  clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
     
            }
            #titulo_video{
                font-family: times new roman;
                font-size: 35px;
                color: orange;
                margin: 0px auto;
                padding-bottom: 3px;
                margin-bottom: 3px;
                text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
            }
            #camp{
                margin: 0px auto;
                margin-top: 20px;
                padding: 10px;
                width: 90%;
                height: 85%;
                display: flex;
            }
            #camp1{
                display: none;
                padding: 20px;
                width: 40%;
                height: 100%;
                border: 2px solid #04B404;  
                    
            }
             #camp1:hover{
                box-shadow: 0 0 30px #04B404;
            }
             #camp3:hover{
                box-shadow: 0 0 30px blue;
            }
            #camp2{
                display: none;
                animation-duration: 5s;
  animation-name: slidein;
  margin-top: 0px;
                width: 20%;
                height: 100%;
                display: table;
                justify-content: center;
                text-align: center;
                    
            }
            #camp3{
                 display: none;
                width: 40%;
                height: 100%;
                justify-content: center;
                text-align: center;
 
            }
            #manita{
                
display: table-cell;
   vertical-align: middle;
                font-size: 4em;
                color: green;
                
            }
                                    @keyframes slidein {
  from {

    margin-top: 30%;
    /*transform: translateX(100%);*/
  }

  to {
 margin-top: 0%;

    /*transform: translateY(50%);*/
  }
}
            .imgen{
    /*display: none;*/
    width: 100%;
    height: 100%;
    /*margin-top: 60px;
    margin-right: 10px;*/
     -webkit-animation: translate 5s infinite ease-in-out;
}
 @-webkit-keyframes translate{
    0%{transform: translateX(0px);}
    25%{transform: translateX(5px);}
    50%{transform: translateX(-15px);}
    75%{transform: translateX(10px);}
    100%{transform: translateX(0px);}
    /*0%{-webkit-transform: rotateX(360deg);}
    100%{-webkit-transform: rotateX(0deg);}*/
}